.wrapper {
  height: 100%;
  width: 100%;
  background-color: #313484;
  border-radius: 25px;
  box-shadow: 0px 12px 29px 5px rgba(49, 52, 132, 0.5);
  overflow: hidden;

  .head-info {
    height: 18%;
    margin: 70px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      align-self: center;
      color: #fff;
      @media only screen and (max-width: 1600px) {
        font-size: 24px;
      }
    }
    .data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .profile-image {
        height: 65px;
        width: 65px;
        object-fit: cover;
        border-radius: 50%;
        @media only screen and (max-width: 1800px) {
          height: 55px;
          width: 55px;
        }
      }
      .info {
        h3 {
          color: #d1d5fb;
          letter-spacing: 1px;
          @media only screen and (max-width: 1600px) {
            font-size: 16px;
          }
        }
        p {
          font-weight: 600;
          font-size: 12px;
          color: #aef1b1;
          letter-spacing: 0.5px;
          @media only screen and (max-width: 1600px) {
            font-size: 11px;
          }
        }
      }
      .drop-down {
        height: 40px;
        width: 40px;
        border-radius: 5px;
        background-color: #9496ff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @media only screen and (max-width: 1600px) {
          height: 30px;
          width: 30px;
          border-radius: 3px;
        }
      }
    }

    @media only screen and (max-width: 1600px) {
      margin: 40px 30px;
    }
  }

  .options-wrapper {
    height: calc(72% - 70px);
    margin: 70px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1s;
   
    .option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-radius: 5px;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        background-color: #9496ff30;
      }

      .icon-title {
        display: flex;
        align-items: center;
        width: 70%;
        p {
          font-weight: 600;
          font-size: 18px;
          color: #d1d5fb;
          margin-left: 30px;
          cursor: pointer;

          @media only screen and (max-width: 1600px) {
            font-size: 15px;
          }
        }
      }
    }

    @media only screen and (max-width: 1800px) {
      margin: 40px 30px;
      height: calc(72% - 40px);
    }
  }

  @media only screen and (max-width: 1500px) {
    border-radius: 20px;
  }
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}
